*{
	margin: 0;
	padding: 0;
}
.main {
    height: 2100px;
    width: 1200px;
    background-color: FFFFFF;
    margin: 0 auto;
}
.logo-menu-icon {
    height: 50px;
    width: 100%;
    /*background-color: yellowgreen;*/
    display: block;
}
.bg {
    height: 500px;
    width: 100%;
    background-color: sienna;
    display: block;
    background-image: url(images/3175f711-81f5-456f-b618-f7600fd4c7c9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
}
.logo-content {
    height: 300px;
    width: 100%;
    
    display: block;
}
.box {
    height: 350px;
    width: 100%;
    
    display: block;
}
.content {
    height: 200px;
    width: 100%;
   
    display: block;
}
.logo-number {
    height: 200px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.31);
    display: block;
}
.logo-icon {
    height: 100px;
    width: 100%;
    
    display: block;
}
.logo1 {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);;
    display: block;
}
.logo2 {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);;
    display: block;
}
.footer {
    height: 200px;
    width: 100%;
    background-color: #052D3A;
    display: block;
}
.logo {
    height: 100%;
    width: 20%;
    float: left;
        padding-top: 4px;
        display: block;
}
.menu {
    height: 100%;
    width: 40%;
    float: left;
    display: block;
}
.icon {
    height: 100%;
    width: 25%;
    float: left;
    display: block;
}
.signup {
    height: 100%;
    width: 15%;
    float: left;
    display: block;
}
.menu ul{
	list-style: none;
    margin: 0;
    padding: 0;
        padding-left: 84px;
    padding-top: 10px;
}
.menu ul li{
	    float: left;
    padding: 6px;
}
.menu ul li a{
	    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: black;
}
.menu ul li a:hover{
	color: #66C430;
	transition: 0.5s;
}
.icon ul{
	list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-left: 201px;
}
.icon ul li{
	float: left;
    padding: 3px;
}

.icon ul li a{
	color: #66C430;
}
.sign {
    float: left;
    padding-right: 8px;
    height: 20px;
    width: 26px;
        padding-top: 22px;
}
.signup p{
	font-size: 11px;
    float: left;
    cursor: pointer;
    padding-top: 21px;
}
.logo-img {
    padding-left: 135px;
    cursor: pointer;
}
.bg-box {
    height: 300px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);;
    display: inline-block;
    margin-top: 127px;
    margin-left: -220px;
    
}
.bg-box h1{
    text-align: center;
    color: #333333;
    padding-top: 7%;
    font-size: 45px;

}
.bg-box p{
    text-align: center;
    font-size: 20px;
    color: rgb(51, 51, 51);
}
.bg-box .input1{
        display: inline-block;
    margin-top: 5%;
        margin-left: 23%;
    height: 35px;
    width: 154px;
    background-color: #095169;
    border-radius: 7px;
        box-shadow: 0 0 12px black;
}
.bg-box .input2{
        display: inline-block;
    margin-top: 5%;
    height: 35px;
    width: 154px;
    background-color: #095169;
    border-radius: 7px;
        box-shadow: 0 0 12px black;
}
.bg-box .input1:hover{
    background-color: #9FD86B;
    color: white;
        cursor: pointer;
    transition: all 0.5s ease;
}
.bg-box .input2:hover{
    background-color: #9FD86B;
    color: white;
        cursor: pointer;
    transition: all 0.5s ease;
}
.logo-contents {
    height: 100%;
    width: 25%;
    float: left;
        padding-top: 25px;
}
.logo-contents h2{
    text-align: center;
    padding-top: 14px;
}
.logo-contents p{
    text-align: center;
    padding-top: 10px;
}
.logo-contents img{
    padding-left: 96px;
}
.read-more {
    height: 37px;
    width: 111px;
    text-align: center;
    border-radius: 5px;
    background-color: #319647;
    box-shadow: 2px 2px 8px black;
    cursor: pointer;
    margin-top: 9px;
    margin-left: 77px;
    color: white;
}
.input1 {
    height: 12%;
    width: 53%;
    text-align: center;
    border-radius: 3px;
    background-color: #319647;
    box-shadow: 0px 0px 4px black;
    margin-left: 60px;
    margin-top: 8px;
    cursor: pointer;
        color: white;
}
.input2 {
    height: 12%;
    width: 64%;
    text-align: center;
    border-radius: 3px;
    background-color: #319647;
    box-shadow: 0px 0px 4px black;
    margin-left: 60px;
    margin-top: 8px;
    cursor: pointer;
        color: white;
}
.box1 {
    background-color: #B7CCD3;
    height: 300px;
    width: 400px;
    float: left;
    padding-top: 14px;
    margin-left: 168px;
    display: block;
}
.box2 {
    background-color: #B4E1E1;
    height: 300px;
    width: 400px;
    float: left;
    padding-top: 14px;
    margin-left: 67px;
    display: block;
}
.box1 li{
    list-style: none;
    padding: 9px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.72);
}
.box1 h3{
        text-align: center;
    font-size: 32px;
    color: #1E2A31;
}
.box1 i{
    width: 28px;
    font-size: 23px;
    color: #66C430;
}
.box2 li{
    list-style: none;
    padding: 9px;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.72);
}
.box2 h3{
        text-align: center;
    font-size: 32px;
    color: #1E2A31;
}
.box2 i{
    width: 28px;
    font-size: 23px;
    color: #66C430;
}
.box1-button{
    display: inline-block;
    margin-top: 5%;
    margin-left: 30%;
    height: 35px;
    width: 154px;
    background-color: #095169;
    border-radius: 7px;
    box-shadow: 0 0 12px black;
}
.box2-button{
    display: inline-block;
    margin-top: 5%;
    margin-left: 30%;
    height: 35px;
    width: 176px;
    background-color: #095169;
    border-radius: 7px;
    box-shadow: 0 0 12px black;
}
.box1-button:hover{
    background-color: #9FD86B;
    color: white;
        cursor: pointer;
    transition: all 0.5s ease;
}
.box2-button:hover{
    background-color: #9FD86B;
    color: white;
        cursor: pointer;
    transition: all 0.5s ease;
}
.content h4{
        text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
.content1 {
    height: 150px;
    width: 40%;
    float: left;
    padding-top: 10px;
    padding-left: 145px;
    margin: 2px;
}
.content2 {
    height: 150px;
    width: 40%;
    float: left;
    padding-top: 10px;
    margin: 2px;
}
.content1 h5{
    font-size: 20px;
    color: #333333;
}
.content1 p{}
.content1 a{
        text-decoration: none;
    color: black;
    padding-left: 390px;
}
.content2 h5{
    font-size: 20px;
    color: #333333;
}
.content2 p{
        margin-bottom: 7%;
}
.content2 a{
        text-decoration: none;
    color: black;
    padding-left: 399px;
}
.logo-numbers {
    text-align: center;
    padding: 12px;
}
.logo-numbers p{
    font-size: 12px;
}
.logo-numbers h6{
        font-size: 21px;
}
.logo-numbers i{
        padding: 4px;
    color: #66C430;
    cursor: pointer;
}
.logo-icon img{
        padding-left: 45%;
    padding-top: 4px;
    cursor: pointer;
}
.logo-icon ul{
    list-style: none;
    margin: 0;
    padding: 0;
        padding-left: 538px;
}
.logo-icon ul li{
        float: left;
    padding: 1px;
}
.logo-icon ul li a{
    color: #66C430;
        font-size: 40px;
}
.logo-icon ul li a:hover{
        color: gray;
            transition: all 0.8s ease-in-out;
}
.logo1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo1 ul li{
    float: left;
}
.logo1 ul li img {
    height: 100px;
    width: 104px;
    padding: 7px;
    cursor: pointer;
}
.logo1 h6{
        text-align: center;
    font-size: 18px;
}
.logo2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo2 ul li{
    float: left;
}
.logo2 ul li img {
    height: 50px;
    width: 92px;
    padding: 13px;
    cursor: pointer;
}
.footer-left {
    height: 150px;
    width: 300px;
    float: left;
    padding-left: 368px;
    padding-top: 45px;
}
.footer-right {
    height: 150px;
    width: 300px;
    float: left;
    
    padding-top: 45px;
}
.footer-left p{
        color: white;
    font-size: 15px;
}
.footer-right p{
        color: white;
    font-size: 15px;
}
.footer-right a{
    color: white;
    font-size: 15px;
        text-decoration: none;
}
#mail-phone{
    padding: 3px
}